* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  font-family: "Arial";
  font-size: 25pt;
  letter-spacing: 1px;
  width: 100%;
  /* background: #7232f2; */
  background: #363a3a;
  color: white;
  text-align: center;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.crear_cuenta {
  text-align: center;
}
#container a {
  text-decoration: none;
  font-family: "Arial";
  font-size: 12pt;
  letter-spacing: 1px;
  width: 100%;

  color: white;

  color: #7232f2;
}
#container {
  background: #efefef;
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container form {
  background: white;
  width: 400px;
  padding-bottom: 1rem;

  border-radius: 10px;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

#container form img {
  margin: 15px auto;
  text-align: center;
  display: block;
  width: 50%;
}

#container  form input {
  transition: all 0.3s ease;
  width: 80%;
  padding: 5px;
  font-size: 16pt;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid #bfc9ca;
  text-align: center;
}
.centrar-span {
  text-align: center;
}
.span1 {
    
  margin: 20px auto;
  /* color: #7232f2; */
  /* degrade color red */
  
  background: linear-gradient(to right,#7e1c31, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-family: "Arial";
  font-size: 18pt;
  font-weight: bold;
}
.span2 {
    
    font-weight: bold;
    color: #555a5a;
    font-family: "Arial";
    font-size: 18pt;
  }
#container form input[type="submit"] {
  /* background: #7232f2; */
  background: linear-gradient(to right,#7e1c31, orangered);
  font-weight: bold;
  padding: 10px;
  color: white;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
}

#container form input[type="submit"]:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
 
}

/* #container form input[type="submit"]:active {
  background: white;
  color: #7232f2;
} */

.alert {
  font-family: "Arial";
  font-size: 16px;
  text-align: center;
}
