@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #ededed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
}
h1{
	font-size: 26px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-family: 'arial';
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
span {
    font-family: 'GothamBook';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}
header{
	position: fixed;
	width: 100%;
}
.header{
	color: #FFF;
	background: #0a4661;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.optionsBar{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBar span {
    color: #FFF;
    font-size: 11pt;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}
.photouser {
    margin-left: 30px;
    width: 25px;
    height: 25px;
}
.close{
	width: 25px;
    height: 25px;
}
.optionsBar a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}
nav ul{
	/*background: #058167;
	/*background: #05817d;*/
	background: #0a4661;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: left;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: #FFF;
	display: block;
	font-size: 10pt;
	font-family: 'GothamBook';
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
	border-right: 1px solid #e3ebea;
}
nav .principal > a{
    background: url(../img/arrow_bottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 94% center;
    background-size: 10px;
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	/*background: #177470;*/
	/*background: #2d9872;*/
	background: #0a4661;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	/*background: #2c9595;*/
	background:#1c7a86;;
}
nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
#container{
	padding: 90px 15px 15px;
}
/*****************************************************************/

.form_registre{
	width: 450px;
	margin: auto;
}


.form_registre_deposito{
	width: 450px;
	margin: auto;
	display:none;
}



.form_registre h1{
	color: #0f4355;
	margin-top: auto;
}
hr{
	border: 0;
	background: #CCC;
	height: 1px;
	margin: 10px 0;
	display: block;

}

.tarjeta_cod {
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 3px;
	margin: 0;
	
	
}

.tarjeta_cod > input{
	
	width: 100%;

	grid-column: 1/2;
	
	
	
}
.texto-grid{
	font-size: 11px;
	width: 100%;

	grid-column: 1/4;
		
}
.texto-grid>p{
	font-size: 11px;
	
		
}


form{
	border: 2px solid #78909C;
	border-radius: 2%;
	background: #FFF;
	margin: auto;
	padding: 20px 50px;
	border: 1px solid #d1d1d1;
}
label{
	display: block;
	font-size: 12pt ;
	font-family: 'GothamBook';
	margin: 15px auto 5px auto;
	font-weight: bold;
}

input,select{
	display: block;
	width: 100%;
	font-size: 11pt;
	padding: 5px;
	border: 1px solid #85929e;
	border-radius: 5px;
}

.notItemOne option:first-child{
	display: none;
}

.btn_save{
	font-size: 12pt;
	background: #12a4c6;
	padding: 10px;
	color: #FFF;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
	margin: 30px auto 15px auto;
	display: block;
    border-radius: 5px;
    
}


.alert{
	width: 100%;
	background: #66e07d66;
	border-radius: 6px;
	margin: 20px auto;
}

.msg_error{
	color: #e65656
}
.msg_save{
	color: #126e00
}
.alert p{
	padding: 10px;
}
/******************************************lista usuarios
*/


#container h1{
	font-size: 35px;
	display: inline-block;

}
.btn_new{
	display: inline-block;
	background: #239baa;
	color: #FFF;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 20px;
}
table{
	border-collapse: collapse;
	font-size: 12px;
	font-family: 'arial';
	width: 100%;
}
table th{
	text-align: left;
	padding: 10px;	
	background: #3d7ba8;
	color: #FFF;
}
table tr:nth-child(odd){
	background: #FFF;
}
table td{
	padding: 10px;
}
.link_edit{
	color: #0ca4ce;
}
.link_delete{
	color: #f26b6b;
}

.data_delete {
	text-align: center;
}
.data_delete h2{
	font-size: 12pt;
}
.data_delete span{
 font-weight: bold;
 color: #4f72d4;
 font-size: 12pt;
}
.btn_cancel,.btn_ok{
	width: 124px;
	background: #1d84e4;
	color: #FFF;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	margin: 15px;
	border: none;
	font-weight: bold;
	font-size: 15px;
}

.btn_cancel{
	background: #42b343;
}
.data_delete form{

		background:initial;
		margin: auto;
		padding: 20px 50px;
		border: 0;
	
}
/*888888888888888888********************** estilo paginador*/

.paginador ul{
	padding: 15px;
	list-style: none;
	background: #FFF;
	margin-top: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.paginador a, .pageSelected{
	color: #428bca;
	border: 1px solid #ddd;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 35px;
}
.paginador a:hover{

background: #ddd;

}

.pageSelected{
	color: #FFF;
	background: #428bca;
	border: 1px solid #428bca;
}

/********************BUSCADOR****************/
.form_search{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	float: right;
	background: initial;
	padding: 10px;
	border-radius: 10px;
}
.form_search .btn_search{
	background: #1faac8;
	color: #FFF;
	padding: 0 20px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;

}

/*CODIGO FOTTO*/

.prevPhoto {
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 150px;
    border: 1px solid #CCC;
    position: relative;
    cursor: pointer;
    background: url(../images/uploads/user.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}
.prevPhoto label{
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.prevPhoto img{
	width: 100%;
	height: 100%;
}
.upimg, .notBlock{
	display: none !important;
}
.errorArchivo{
	font-size: 16px;
	font-family: arial;
	color: #cc0000;
	text-align: center;
	font-weight: bold; 
	margin-top: 10px;
}
.delPhoto{
	color: #FFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: red;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 10;
}
#tbl_list_productos img{
	width: 50px;
}
.imgProductoDelete{
	width: 175px;
}

/*****************lista eventos*********************/
.img_evento img{

	width: 50px;
	height: 50px;
	margin: auto;
	border-radius: 100%;

}

/********************MODAL*/

.modal{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.81);
	display: none;
}
.modal h1{
	color: #0a4661;
	text-transform: uppercase;

}
.modal h2{
	text-transform: uppercase;
	margin-top: 15px;
}
.bodyModal{
	width: 100%;
	height: 100%;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
}
#form_add_event, #form_del_event, #form_anular_factura{
	width: 420px;
	text-align: center;
}

/*============ Ventas ============*/
.datos_cliente, .datos_venta, .title_page{
	width: 100%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 20px;
	color: #0f4355;
}
#detalle_venta tr{
	background-color: #FFF !important;
}
#detalle_venta td{
	border-bottom: 1px solid #CCC;
}
.datos{
	background-color: #feffff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.action_cliente{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.datos label{
	margin: 5px auto;
}
.wd20{
	width: 20%;
}
.wd25{
	width: 25%;
}
.wd30{
	width: 30%;
}
.wd40{
	width: 40%;
}
.wd60{
	width: 60%;
}
.wd100{
	width: 100%;
}
#div_registro_cliente, #add_product_venta{
	display: none;
}
.displayN{
	display: none;
}
.tbl_venta{
	max-width: 900px;
	margin: auto;
}
.tbl_venta tfoot td{
	font-weight: bold;
}
.textright{
	text-align: right;
}
.textcenter{
	text-align: center;
}
.textleft{
	text-align: left;
}
.btn_anular{
	background-color: #f36a6a;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0 3px;
	color: #FFF;
}

.btn_aprobar{
	background-color: #74aa5e;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0 3px;
	color: #FFF;
}

/* stilos transaccion lista*/

.form_search_date{

	padding: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
	margin: 10px auto;
}
.form_search_date label{
	margin: 0 10px;
}
.form_search_date input{
	width: auto;
}
.form_search_date .btn_view{
	padding: 8px;
}
.btn_view{
	background-color: #1faac8;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding:  7px;
	margin: 0 3px;
	color:  #FFF;
}
.btn_view2{
	background-color: #1faac8;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding:  7px;
	margin: 0 3px;
	color:  #FFF;
}

.div_acciones{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.totalfactura{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.pagada, .anulada, .pendiente{
	color: #FFF;
	background: #60a756;
	text-align: center;
	border-radius: 5px;
	padding: 4px 15px;
}
.anulada{
	background: #f36a6a;
}
.pendiente{
	background: #cf9235;
}
.inactive{
	background-color: #a4a4a4;
	color: #ccc;
	cursor: default;
}

/*88888888  GESTION DE ACCESO CSS   8888*/

.acceso{

	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.grid_1{

	grid-column: 1/3
}
.grid_2{

	grid-column: 4/5
}

.pagos{

	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 1fr);

						 
}
.pagos .tabla_v{

	grid-column: 2/5;
}
.pagos .form_r{
	grid-column: 1/2;

	grid-row: 1/3;
}

@media screen and (max-width: 768px){
	
	.pagos .form_r{
		grid-column: 2/3;
	grid-row: 2/3;

			
		}
	.pagos .tabla_v{
	grid-column: 2/3;
		
	}
	
}

.wrapper {
	position: static;
	/* top: 50%;
	left: 50%; */
	/* margin: -190px 0 0 -468px; */
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #9f9f9f;
	font-size: 15px;
  }
  
  .package {
	box-sizing: border-box;
	width: 281px;
	height: 380px;
	border: 3px solid #e8e8e8;
	border-radius: 7px;
	display: inline-block;
	padding: 24px;
	text-align: center;
	float: left;
	transition: margin-top 0.5s linear;
	position: relative;
	margin-right: 11px;
  }
  /* .package:hover {
	margin-top: -30px;
	transition: margin-top 0.3s linear;
  } */
  
  .name {
	color: #565656;
	font-weight: 300;
	font-size: 3rem;
	margin-top: -5px;
  }
  
  .price {
	margin-top: 7px;
	font-size: 1.5rem;
	font-weight: bold;
  }
  /* .price::after {
	content: " / mes";
	font-weight: normal;
  } */
  
  .wrapper hr {
	background-color: #dedede;
	border: none;
	height: 1px;
  }
  
  .trial {
	font-size: 0.9rem;
	font-weight: 600;
	padding: 2px 21px 2px 21px;
	color: #33c4b6;
	border: 1px solid #e4e4e4;
	display: inline-block;
	border-radius: 15px;
	background-color: white;
	position: relative;
	bottom: -20px;
  }
  
  .wrapper ul {
	list-style: none;
	padding: 0;
	text-align: left;
	margin-top: 29px;
  }
  
  .wrapper li {
	margin-bottom: 15px;
  }
  .wrapper li:before {
	font-size: 1.3rem;
	color: #33c4b6;
	margin-right: 3px;
  }
  
  /* .checkIcon, .brilliant::after, li:before {
	font-family: "FontAwesome";
	content: "ï€Œ";
  } */
  
  .brilliant {
	border-color: #33c4b6;
  }
  .brilliant::before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 64px 64px 0 0;
	border-color: #3bc6b8 transparent transparent transparent;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
  }
  .brilliant::after {
	color: white;
	position: absolute;
	left: 9px;
	top: 6px;
	text-shadow: 0 0 2px #37c5b6;
	font-size: 1.4rem;
  }








